<ul>
  <% @videogames.each do |videogame| %>
    <li><%= videogame.nom %></li>
    <li><%= videogame.plateforme %></li>
    <% if videogame.termine %>
      <li><%= "Jeu terminé" %></li>
    <% else %>
      <li><%= "Ce jeu n'est pas terminé" %></li>
    <% end %>
  <% end %>
</ul>
